@media (max-width: 734px) {
    .header__content-title {
        font-size: 45px;
    }

    .header__content-subtitle {
        font-size: 26px;
    }

    .header__content-txt {
        font-size: 16px;
    }

    .header__content-info-price {
        font-size: 30px;
    }
}

@media (max-width: 686px) {
    .cards {
        grid-template-columns: 1fr;
    }

    .header__nav {
        position: relative;
    }

    .header__nav-line {
        display: block;
        z-index: 999;
    }

    .header__nav-line:hover span {
        z-index: -1;
        opacity: 0;
    }

    .header__nav-list {
        position: absolute;
        left: -100%;
        height: 60vh;
        width: 100%;
        background: #000;
        z-index: 998;
        transition: 0.4s;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .header__nav-line:hover::before {
        transform: rotate(45deg) translateY(21px);
    }

    .header__nav-line:hover::after {
        transform: rotate(-45deg) translateY(-21px);
    }

    .header__nav-line:hover ~ .header__nav-list {
        left: 0%;
    }

    .header__nav-item {
        width: 100%;
        display: flex;
    }

    .header__nav-link {
        width: 100%;
    }

} 

@media (max-width: 686px) {
    .header__content-info-price {
        font-size: 25px;
        padding: 25px 55px;
    }

    .header__content-info-btn {
        padding: 15px 45px
    };
}



@media (max-width: 480px) {
    .intro__container {
        justify-content: center;
        align-items: center;
    }

    .intro__nav-txt {
        animation: intro__nav-txt 2s infinite alternate;
    }

    .intro__nav-list {
        transform: scale(0);
        justify-content: center;
    }

    .intro__nav-txt:hover {
        animation-play-state: paused;
    }

    .intro__nav-txt:hover ~ .intro__nav-list {
        transform: scale(1.1);
    }

    .header__nav-logo img {
        max-width: 150px;
        width: 100%;
    }

    .header__content-info {
        justify-content: center;
    }

    .main__nav-link {
        padding: 20px 0;
    }

    .footer__intro {
        gap: 30px;
        justify-content: center;
    }

    .footer__txt {
        font-size: 14px;
    }
}
